@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<h2>Jeep YJ from this project</h2>

<img src="jeep-yj.png" />

<h2>Component1 from class lib</h2>

<ComponentLibrary.Component1 />

<h2>Jeep YJ from RCL</h2>

<img src="_content/ComponentLibrary/jeep-yj-early.jpg" alt="Jeep YJ" />
